DB_USER='user'
DB_PASSWORD='password'
DB_NAME='name'
DB_PORT=5432
ALGORITHM="algo"
SECRET='secret'
API_PREFIX='/api/v1'
EMAIL_LOGIN='login'
EMAIL_PASSWORD='password'
SMTP_HOST='smtp.yandex.ru'
SMTP_PORT=465
code_expires_in=600
REDIS_HOST='host'
REDIS_PORT=6379
